Repository andruha27/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
    - backend/target/sausage-store-${VERSION}.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  script:
  - cd backend
  - 'mvn verify sonar:sonar -Dsonar.qualitygate.wait=true -Dsonar.projectKey=${SONAR_PROJECT_KEY_BACK} -Dsonar.host.url=${SONARQUBE_URL} -Dsonar.login=${SONAR_LOGIN_FRONT} -Dsonar.projectName=''09_ANDREYVOROBYEV_BACKEND''
  
    '
  needs:
  ...

sonarqube-frontend-sast:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  script:
  - cd frontend
  ...

slack-notification-backend:
  stage: notify
  variables:
  ...

slack-notification-frontend:
  stage: notify
  variables:
    DEPLOY_CURL_COMMAND_BODY: '{\"text\":\"Вышла новая версия frontend сосисочной — ${VERSION}. Скачать frontend можно по ссылке — https://nexus.praktikum-services.ru/repository/sausage-store-vorobyev-andrey-frontend/sausage-store/$VERSION/sausage-store-$VERSION.tar.gz .\"}'
  ...

upload-backend-release:
  stage: release
  needs:
  - sonarqube-backend-sast
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  needs:
  - sonarqube-frontend-sast
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

fix
  backend-report/backend-report_deploy.sh
  backend/backend_deploy.sh
  docker-compose.yml
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

fix
  backend-report/Dockerfile
  backend-report/backend-report_deploy.sh
Due: none

fix
  backend-report/.gitlab-ci.yml
Due: none

fix
  backend-report/app/repositories/report/report.repository.go
Due: none

fix
  app/nginx.tmpl
  backend/.gitlab-ci.yml
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add nginx to frontend
  backend-report/Dockerfile
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

fix
  backend/backend_deploy.sh
  docker-compose.yml
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

fix
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

fix
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

fix
  docker-compose.yml
Due: none

fix
  docker-compose.yml
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

fix
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

add healthcheck to backend
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add healthcheck to backend
  docker-compose.yml
Due: none

fix
  .gitattributes
  backend/backend_deploy.sh
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/backend_deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add blur-green strategy
  backend/backend_deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/backend_deploy.sh
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add curl to backend
  backend/Dockerfile
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

set max connections
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/src/main/resources/application.properties
Due: none

change vault auth
  backend/backend_deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/src/test/resources/application.properties
Due: none

fix
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

fix
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/backend_deploy.sh
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  sonarqube-backend-sast: any of: backend/*
  sonarqube-frontend-sast: any of: frontend/*
  slack-notification-backend: any of: backend/*
  slack-notification-frontend: any of: frontend/*
  upload-backend-release: any of: backend/*
  upload-frontend-release: any of: frontend/*
