Repository andruha27/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

.gitlab-ci.yml:

stages:
  - build
  - test
  - release
  - notify
include:
  - template: Security/SAST.gitlab-ci.yml 
variables:
    VERSION: 1.0.${CI_PIPELINE_ID}
    MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository

build-backend-code-job:
  stage: build  
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION}
  artifacts:
    paths:
      - backend/target/sausage-store-${VERSION}.jar
      - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

sonarqube-backend-sast:
  stage: test
  only:
    changes:
    - backend/*
  image: maven:3.8-openjdk-16 # тот самый docker-образ, о котором мы все узнаем в будущем
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
      -Dsonar.projectKey=${SONAR_PROJECT_KEY_BACK}
      -Dsonar.host.url=${SONARQUBE_URL}
      -Dsonar.login=${SONAR_LOGIN_FRONT}
      -Dsonar.projectName='09_ANDREYVOROBYEV_BACKEND'
  needs:
    - job: build-backend-code-job
    
sonarqube-frontend-sast:
  stage: test
  only:
    changes:
    - frontend/*
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  script:
    - cd frontend
    - sonar-scanner -Dsonar.projectKey=${SONAR_PROJECT_KEY_FRONT} -Dsonar.qualitygate.wait=true -Dsonar.sources=. -Dsonar.host.url=${SONARQUBE_URL} -Dsonar.login=${SONAR_LOGIN_FRONT} -Dsonar.projectName='09_ANDREYVOROBYEV_FRONTEND'
  needs:
    - job: build-frontend-code-job

slack-notification-backend:
  stage: notify
  variables:
    DEPLOY_CURL_COMMAND_BODY: '{\"text\":\"Вышла новая версия backend сосисочной — ${VERSION}. Скачать backend можно по ссылке — https://nexus.praktikum-services.ru/repository/sausage-store-vorobyev-andrey-backend/com/yandex/practicum/devops/sausage-store/$VERSION/sausage-store-$VERSION.jar .\"}'
    DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-type: application/json" --data "$DEPLOY_CURL_COMMAND_BODY" https://hooks.slack.com/services/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'
  only:
    changes:
    - backend/*
  script:
    - echo $DEPLOY_CURL_COMMAND
    - 'eval "$DEPLOY_CURL_COMMAND"'
  needs:
    - job: upload-backend-release

slack-notification-frontend:
  stage: notify
  variables: 
    DEPLOY_CURL_COMMAND_BODY: '{\"text\":\"Вышла новая версия frontend сосисочной — ${VERSION}. Скачать frontend можно по ссылке — https://nexus.praktikum-services.ru/repository/sausage-store-vorobyev-andrey-frontend/sausage-store/$VERSION/sausage-store-$VERSION.tar.gz .\"}'
    DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-type: application/json" --data "$DEPLOY_CURL_COMMAND_BODY"  https://hooks.slack.com/services/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'
  only:
    changes:
    - frontend/*
  script:
    - echo $DEPLOY_CURL_COMMAND
    - 'eval "$DEPLOY_CURL_COMMAND"'
  needs:
    - job: upload-frontend-release

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/*
  needs:
    - sonarqube-backend-sast
  script:
    - cd backend
    - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy 

upload-frontend-release:
  stage: release
  only:
    changes:
    - frontend/*
  needs:
    - sonarqube-frontend-sast
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}" --upload-file sausage-store-${VERSION}.tar.gz ${NEXUS_REPO_URL}/sausage-store-vorobyev-andrey-frontend/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz 
    
cache:
  paths:
    - ${CI_PROJECT_DIR}/.m2/repository # для хранения зависимостей бэкенда
    - frontend/dist/frontend # для хранения фронта

Update .gitlab-ci.yml test
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend, upload-frontend-release

add changes in subdirs
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

add backup cron
  backup/crontab_rotate
  backup/crontab_rsync
Due: none

update service files
  backend/sausage-store.service
  backup/crontab_rotate
  backup/crontab_rsync
  frontend/sausage-store.service
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add db settings to service
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add migrations
  backend/src/main/resources/db/migration/R__Add indexes.sql
  backend/src/main/resources/db/migration/V01__Create tables.sql
  backend/src/main/resources/db/migration/V02__change columns in product.sql
Due: none

add flyway config
  backend/pom.xml
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/src/main/resources/application.properties
Due: none

fix
  backend/src/main/resources/db/migration/V02__change columns in product.sql
Due: none

fix
  backend/src/main/resources/db/migration/R__Add indexes.sql
Due: none

fix
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__Add indexes.sql
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/.gitlab-ci.yml
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

Перенос параметров подключения в variables
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

add mongodb coonection settings
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

change report timeout
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: none

add docker
  backend/Dockerfile
  backend/backend_deploy.sh
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

update ci/cd pipeline
  backend/.gitlab-ci.yml
  frontend/Dockerfile
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-backend, slack-notification-frontend, upload-backend-release, upload-frontend-release

fix
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release

fix
  .gitattributes
Due: none

fix
  backend/.env
  backend/backend_deploy.sh
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, slack-notification-backend, upload-backend-release
