Repository andruha27/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

.gitlab-ci.yml:

stages:
  - build
  - notify

build-backend-code-job:
  stage: build  
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package
  artifacts:
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

slack-notification-backend:
  stage: notify
  variables: 
    DEPLOY_CURL_COMMAND_BODY: 'https://gitlab.praktikum-services.ru/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/-/jobs/artifacts/${CI_COMMIT_REF_NAME}/download?job=${CI_JOB_NAME}&token=oRo3KjWqd3RmmxZJ2fpP."}'
    DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-type: application/json" --data $DEPLOY_CURL_COMMAND_BODY https://hooks.slack.com/services/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'
  only:
    changes:
    - backend/*
  script:
    - 'eval "$DEPLOY_CURL_COMMAND"'
  needs:
    - build-backend-code-job

slack-notification-frontend:
  stage: notify
  variables: 
    DEPLOY_CURL_COMMAND_BODY: '{"text":"${GITLAB_USER_NAME} собрал фронт https://gitlab.praktikum-services.ru/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/-/jobs/artifacts/${CI_COMMIT_REF_NAME}/download?job=${CI_JOB_NAME}&token=oRo3KjWqd3RmmxZJ2fpP."}'
    DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-type: application/json" --data $DEPLOY_CURL_COMMAND_BODY  https://hooks.slack.com/services/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'
  only:
    changes:
    - frontend/*
  script:
    - 'eval "$DEPLOY_CURL_COMMAND"'
    
  needs:
    - build-frontend-code-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

add SAST
  .gitlab-ci.yml
Due: none

add sonarqube
  .gitlab-ci.yml
Due: none

fix pipeline
  .gitlab-ci.yml
Due: none

fix sast error
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: none

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job, slack-notification-backend

Add upload to nexus
  .gitlab-ci.yml
  backend/pom.xml
  backend/settings.xml
Due: build-backend-code-job, slack-notification-backend

fix
  .gitlab-ci.yml
  backend/pom.xml
Due: build-backend-code-job, slack-notification-backend

split gitlab.yml
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

'fix'
  backend/.gitlab-ci.yml
  backend/sausage-store.service
Due: build-backend-code-job, slack-notification-backend

'fix'
  backend/.gitlab-ci.yml
Due: build-backend-code-job, slack-notification-backend

'fix'
  backend/deploy.sh
Due: build-backend-code-job, slack-notification-backend

'fix'
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store.service
Due: build-backend-code-job, slack-notification-backend

'fix'
  .gitattributes
  backend/deploy.sh
Due: build-backend-code-job, slack-notification-backend

fix
  backend/deploy.sh
Due: build-backend-code-job, slack-notification-backend

add frontend deploy
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store.service
Due: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

fix
  .gitattributes
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, slack-notification-frontend

add environment
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

fix
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

fix
  backend/sausage-store.service
  frontend/sausage-store.service
Due: build-backend-code-job, build-frontend-code-job, slack-notification-backend, slack-notification-frontend

Update index.html
  frontend/src/index.html
Due: none
